<dt>
  {% include link.html
  url=paper.url
  text=paper.title
  class="paper-title"
  %}
</dt>

<dd class="paper-authors">
  {{ paper.authors | array_to_sentence_string: "and" }}
</dd>

{% if paper.venue %}
{% if paper.special %}
<dd class="paper-venue">
  {% include link.html
  url=paper.venue_url
  text=paper.venue
  special=true
  %}
</dd>
{% else %}
<dd class="paper-venue">
  {% include link.html
  url=paper.venue_url
  text=paper.venue
  %}
</dd>
{% endif %}
{% endif %}

{% if paper.extra %}
<dd> <em> {{ paper.extra | safeHTML }} </em> </dd>
{% endif %}

{% if paper.links %}
<dd>
  {% for link in paper.links %}
  [<a href="{{ link.url }}">{{ link.text }}</a>]
  {% endfor %}
</dd>
{% endif %}
