<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Paul Krogmeier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Paul Krogmeier, Purdue Masters student">
    <link rel="canonical" href="http://paulkrog.github.io">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="container">

    <aside>
        <div id="photo">
            <img alt="Paul Krogmeier" src="/assets/me.jpg">
            <h1> Paul Krogmeier </h1>
        </div>
        <section id="contact">
            <address>
                <a href="mailto:pkrogmei@purdue.edu">paulmk2@illinois.edu</a>
            </address>
            <address>
                <a href="/assets/paul-krogmeier-cv.pdf">CV</a>
            </address>
            <address>
                <a href="https://github.com/paulkrog">GitHub</a>
            </address>
        </section>
    </aside>

    <main>
        {{ content }}
    </main>
</div>

</body>
</html>
