<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Paul Krogmeier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Paul Krogmeier, UIUC graduate student">
    <link rel="canonical" href="https://paulkrog.github.io">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">

    <meta name="google-site-verification" content="HJlKcS6mjZczhxVVZFDPDiSZnZUHZuWc6GHtEpaDoY0" />
</head>
<body>
  <div id="container">

    <aside>
      <div id="photo">
        <img alt="Paul Krogmeier" src="/assets/me.jpg">
        <h1> Paul Krogmeier </h1>
      </div>
      <section id="contact">
        <address>
          <a href="mailto:paulmk2@illinois.edu">paulmk2@illinois.edu</a>
        </address>
        <!-- <address>
             <a href="https://github.com/paulkrog">GitHub</a>
             </address> -->
        <address>
          <a href="/assets/new-cv.pdf">CV</a>
        </address>
      </section>
    </aside>

    <main>
      {{ content }}
    </main>

  </div>
</body>
</html>
